<div class="pie-chart-container">
  <ejs-accumulationchart
    id="container"
    #pie
    class="pie-chart"
    [legendSettings]="legendSettings"
    [tooltip]="tooltip"
    [enableBorderOnMouseMove]="false"
    title="Title"
  >
    <e-accumulation-series-collection>
      <e-accumulation-series
        name=""
        [dataSource]="testDataSet$ | async"
        xName="description"
        yName="percentage"
        [startAngle]="startAngle"
        innerRadius="0%"
        radius="90%"
        [dataLabel]="dataLabel"
        [explode]="false"
      >
      </e-accumulation-series>
    </e-accumulation-series-collection>
  </ejs-accumulationchart>
</div>
